<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <%= simple_form_for [@cocktail] do |c| %>
      <%= c.input :name %>
      <%= c.input :photo %>
      <%= c.input :photo_cache, as: :hidden %>
      <%= c.submit "add a cocktail", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
